<footer class="bux-footer bux-footer--light">
  <div class="bux-container bux-grid bux-grid--footer">
    <div class="bux-footer__col bux-footer__col--left bux-grid__cell bux-grid__cell--12 bux-grid__cell--5@md">

      <div class="bux-footer__logo">
        <p class="bux-h1">Sachin Kumar</p>
      </div>

      <div class="bux-footer__contact bux-footer__contact--address">
        <p class="bux_footer__site-name">
          Department of Computer Science and Engineering
        </p>

        <p class="bux_footer__address">395 Dreese Laboratories</p>
        <p class="bux_footer__address">2015 Neil Avenue</p>
        <p class="bux_footer__address">Columbus, OH 43210-1277</p>
      </div>

      <div class="bux-footer__contact bux-footer__contact--email-phone">
        <hr />
        <p class="bux_footer__email">
          <a class="bux-link" href="mailto:kumar.1145@osu.edu">kumar.1145@osu.edu</a>
        </p>
      </div>

    </div>

    <div class="bux-footer__col bux-footer__col--right bux-grid__cell bux-grid__cell--12 bux-grid__cell--7@md">
      <div class="bux-footer__social">

        <ul class="bux-social-links bux-social-links--white">

          <li class="bux-social-links__item bux-social-links__item--X">
            <a
              class="bux-social-links__link"
              href="https://x.com/shocheen"
              target="_blank"
            >
              <span class="visually-hidden">X profile — external</span>
              <span class="icon icon-x" aria-hidden="true"></span>
            </a>
          </li>

          <li class="bux-social-links__item bux-social-links__item--LinkedIn">
            <a
              class="bux-social-links__link"
              href="https://www.linkedin.com/in/schn19/"
              target="_blank"
            >
              <span class="visually-hidden">LinkedIn profile — external</span>
              <span class="icon icon-linkedin" aria-hidden="true"></span>
            </a>
          </li>

          <li class="bux-social-links__item bux-social-links__item--BlueSky">
            <a
              class="bux-social-links__link"
              href="https://bsky.app/profile/shocheen.bsky.social/"
              target="_blank"
            >
              <span class="visually-hidden">Blue Sky profile — external</span>
              <span class="icon icon-bluesky" aria-hidden="true"></span>
            </a>
          </li>

          <li class="bux-social-links__item bux-social-links__item--GitHub">
            <a
              class="bux-social-links__link"
              href="https://github.com/Sachin19/"
              target="_blank"
            >
              <span class="visually-hidden">GitHub profile — external</span>
              <span class="icon icon-github" aria-hidden="true"></span>
            </a>
          </li>
 
          <li class="bux-social-links__item bux-social-links__item--GoogleScholar">
            <a
              class="bux-social-links__link"
              href="https://scholar.google.com/citations?user=qO38fRIAAAAJ&hl/"
              target="_blank"
            >
              <span class="visually-hidden">Google Scholar profile — external</span>
              <span class="icon icon-google-scholar" aria-hidden="true"></span>
            </a>
          </li>

        </ul>

      </div>

      <div class="bux-footer__fine-print">

        <div class="bux-footer__ada">
          If you have a disability and experience difficulty accessing this
          content, please contact the Digital Accessibility Center for
          assistance at
          <a class="bux-link" href="mailto:accessibility@osu.edu">
            accessibility@osu.edu</a
          >
          or <a class="bux-link" href="tel:614-292-1760">614-292-1760</a>.
        </div>

        <div class="bux-footer__links">

          <ul>
            <li class="bux_footer__link">
              <a class="bux-link" href="https://go.osu.edu/privacy"
                >Privacy Statement</a
              >
            </li>
            <li class="bux_footer__link">
              <a
                class="bux-link"
                href="https://go.osu.edu/nondiscrimination-notice"
                >Non-discrimination Notice</a
              >
            </li>
            <li class="bux_footer__link">
              <a id="ot-sdk-btn" class="ot-sdk-show-settings bux-link"
                >Cookie Settings</a
              >
            </li>
          </ul>

        </div>
        
        <div class="bux-footer__copyright">
          © 2025 The Ohio State University
        </div>

      </div>
    </div>
  </div>
</footer>