<div class="bux-alert bux-alert--info">
  <div class="bux-alert__icon" aria-hidden="true"></div>

  <div class="bux-alert__message">
    <h2 class="bux-alert__message-title" id="-message-1731973046">
      Disclaimer.
    </h2>

    <div class="bux-alert__message-text">
      This website is not an Official Ohio State University website.
    </div>
  </div>
</div>