<footer class="bux-footer bux-footer--light">
  <div class="bux-container bux-grid bux-grid--footer">
    <div class="bux-footer__col bux-footer__col--left bux-grid__cell bux-grid__cell--12 bux-grid__cell--5@md">
      <div class="bux-footer__logo">
        <a href="http://osu.edu" target="_blank">
          <img src="/images/osu-horiz-gray.svg" alt="The Ohio State University"/>
        </a>
      </div>

      <div class="bux-footer__contact bux-footer__contact--address">
        <p class="bux_footer__site-name"> CSE 3901: Project: Design, Development, and Documentation of Web Applications</p>
        <p class="bux_footer__address">Dreese Laboratories 369</p>
        <p class="bux_footer__address">2015 Neil Ave</p>
        <p class="bux_footer__address">Columbus, OH 43210-1210</p>
      </div>

      <div class="bux-footer__contact bux-footer__contact--email-phone">
        <hr />
        <p class="bux_footer__email">
          <a class="bux-link" href="mailto:tbdditl@osu.edu">tbdditl@osu.edu</a>
        </p>
        <p class="bux_footer__phone">
          <a class="bux-link" href="tel:800-TBD-DITL">Phone: 800-TBD-DITL</a>
        </p>
        <p class="bux_footer__fax">
          <a class="bux-link" href="tel:800-TBD-DITL">Fax: 800-TBD-DITL</a>
        </p>
      </div>
    </div>

    <div class="bux-footer__col bux-footer__col--right bux-grid__cell bux-grid__cell--12 bux-grid__cell--7@md">
      <div class="bux-footer__social">
        <ul class="bux-social-links bux-social-links--light">
          <li class="bux-social-links__item bux-social-links__item--Facebook">
            <a
              class="bux-social-links__link"
              href="https://www.facebook.com/osu/"
              target="_blank"
            >
              <span class="visually-hidden">Facebook profile — external</span>
              <span class="icon icon-facebook" aria-hidden="true"></span>
            </a>
          </li>
          <li class="bux-social-links__item bux-social-links__item--Instagram">
            <a
              class="bux-social-links__link"
              href="https://www.instagram.com/theohiostateuniversity/"
              target="_blank"
            >
              <span class="visually-hidden">Instagram profile — external</span>
              <span class="icon icon-instagram" aria-hidden="true"></span>
            </a>
          </li>
          <li class="bux-social-links__item bux-social-links__item--X">
            <a
              class="bux-social-links__link"
              href="https://twitter.com/OhioState"
              target="_blank"
            >
              <span class="visually-hidden">X profile — external</span>
              <span class="icon icon-x" aria-hidden="true"></span>
            </a>
          </li>
          <li class="bux-social-links__item bux-social-links__item--LinkedIn">
            <a
              class="bux-social-links__link"
              href="https://www.linkedin.com/school/the-ohio-state-university/"
              target="_blank"
            >
              <span class="visually-hidden">LinkedIn profile — external</span>
              <span class="icon icon-linkedin" aria-hidden="true"></span>
            </a>
          </li>
          <li class="bux-social-links__item bux-social-links__item--YouTube">
            <a
              class="bux-social-links__link"
              href="https://www.youtube.com/user/ohiostateuniversity"
              target="_blank"
            >
              <span class="visually-hidden">YouTube profile — external</span>
              <span class="icon icon-youtube" aria-hidden="true"></span>
            </a>
          </li>
          <li class="bux-social-links__item bux-social-links__item--TikTok">
            <a
              class="bux-social-links__link"
              href="https://www.tiktok.com/@theohiostateuniversity"
              target="_blank"
            >
              <span class="visually-hidden">TikTok profile — external</span>
              <span class="icon icon-tiktok" aria-hidden="true"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="bux-footer__fine-print">
        <div class="bux-footer__ada">
          If you have a disability and experience difficulty accessing this
          content, please contact the Digital Accessibility Center for
          assistance at
          <a class="bux-link" href="mailto:accessibility@osu.edu">accessibility@osu.edu</a> or <a class="bux-link" href="tel:614-292-1760">614-292-1760</a>.
        </div>

        <div class="bux-footer__links">
          <ul>
            <li class="bux_footer__link">
              <a class="bux-link" href="https://go.osu.edu/privacy">Privacy Statement</a>
            </li>
            <li class="bux_footer__link">
              <a class="bux-link" href="https://go.osu.edu/nondiscrimination-notice">Non-discrimination Notice</a>
              </li>
            <li class="bux_footer__link">
              <a id="ot-sdk-btn" class="ot-sdk-show-settings bux-link">Cookie Settings</a>
            </li>
            <li class="bux_footer__link">
              <a class="bux-link" href="#">Login</a>
            </li>
          </ul>
        </div>
        
        <div class="bux-footer__copyright">
          © 2025 TBDDITL
        </div>
      </div>
    </div>
  </div>
</footer>