<div class="bux-listicle">
  <div class="bux-listicle__item">
    <h2 class="bux-listicle__title">
      <span class="bux-listicle__title-number">1</span>
      <span class="bux-listicle__title-text">Select Major</span>
    </h2>
    <div class="bux-listicle__text">
      Selecting a major will display the corresponding curriculum.
    </div>
  </div>

  <div class="bux-listicle__item">
    <h2 class="bux-listicle__title">
      <span class="bux-listicle__title-number">2</span>
      <span class="bux-listicle__title-text"
        >Hover over a course</span
      >
    </h2>
    <div class="bux-listicle__text">
      Hovering over a course will show the prerequisites for that course.
    </div>
  </div>
</div>