<div id="masthead" class="bux-header">
  <div class="bux-container bux-grid">
    <div class="bux-header__col bux-header__col--left bux-grid__cell bux-grid__cell--12 bux-grid__cell--8@md bux-grid__cell--9@xl">
      <div class="bux-header__site-name-container">
        <div class="bux-header__site-name">
          <a href="#">Course Visualizer</a>
        </div>
      </div>
    </div>
  </div>
</div>